In [28]:
import pandas as pd
import datetime as dt
import numpy as np

In [29]:
data = pd.read_csv("Raw_Data/train.csv")

In [30]:
data.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37670293 entries, 0 to 37670292
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   date_time                  object
 1   site_name                  int64
 2   posa_continent             int64
 3   user_location_country      int64
 4   user_location_region       int64
 5   user_location_city         int64
 6   orig_destination_distance  float64
 7   user_id                    int64
 8   is_mobile                  int64
 9   is_package                 int64
 10  channel                    int64
 11  srch_ci                    object
 12  srch_co                    object
 13  srch_adults_cnt            int64
 14  srch_children_cnt          int64
 15  srch_rm_cnt                int64
 16  srch_destination_id        int64
 17  srch_destination_type_id   int64
 18  is_booking                 int64
 19  cnt                        int64
 20  hotel_continent            int64
 21  hotel_country              int64
 22  hotel_market               int64
 23  hotel_cluster              int64
dtypes: float64(1), int64(20), object(3)
memory usage: 6.7+ GB

In [33]:
data['date_time'] = pd.to_datetime(data['date_time'])
#data["date_time"] = data["date_time"].astype("datetime64")
#data.groupby(data["date_time"].dt.year).count().plot(kind="bar")

In [34]:
df_2014 = data[data['date_time'].dt.year == 2014]

In [35]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26483412 entries, 0 to 37670292
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   date_time                  datetime64[ns]
 1   site_name                  int64
 2   posa_continent             int64
 3   user_location_country      int64
 4   user_location_region       int64
 5   user_location_city         int64
 6   orig_destination_distance  float64
 7   user_id                    int64
 8   is_mobile                  int64
 9   is_package                 int64
 10  channel                    int64
 11  srch_ci                    object
 12  srch_co                    object
 13  srch_adults_cnt            int64
 14  srch_children_cnt          int64
 15  srch_rm_cnt                int64
 16  srch_destination_id        int64
 17  srch_destination_type_id   int64
 18  is_booking                 int64
 19  cnt                        int64
 20  hotel_continent            int64
 21  hotel_country              int64
 22  hotel_market               int64
 23  hotel_cluster              int64
dtypes: datetime64[ns](1), float64(1), int64(20), object(2)
memory usage: 4.9+ GB

In [36]:
print(data.date_time.min())
print(data.date_time.max())

2013-01-07 00:00:02
2014-12-31 23:59:59

In [37]:
df_2013 = data[data['date_time'].dt.year == 2013]

In [38]:
df_2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11186881 entries, 26 to 37670277
Data columns (total 24 columns):
 #   Column                     Dtype
---  ------                     -----
 0   date_time                  datetime64[ns]
 1   site_name                  int64
 2   posa_continent             int64
 3   user_location_country      int64
 4   user_location_region       int64
 5   user_location_city         int64
 6   orig_destination_distance  float64
 7   user_id                    int64
 8   is_mobile                  int64
 9   is_package                 int64
 10  channel                    int64
 11  srch_ci                    object
 12  srch_co                    object
 13  srch_adults_cnt            int64
 14  srch_children_cnt          int64
 15  srch_rm_cnt                int64
 16  srch_destination_id        int64
 17  srch_destination_type_id   int64
 18  is_booking                 int64
 19  cnt                        int64
 20  hotel_continent            int64
 21  hotel_country              int64
 22  hotel_market               int64
 23  hotel_cluster              int64
dtypes: datetime64[ns](1), float64(1), int64(20), object(2)
memory usage: 2.1+ GB

In [40]:
df_2015 = pd.read_csv("Raw_Data/test.csv")

In [41]:
print(df_2015.date_time.min())
print(df_2015.date_time.max())

2015-01-08 00:00:35
2015-12-31 23:58:47

In [42]:
df_2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528243 entries, 0 to 2528242
Data columns (total 22 columns):
 #   Column                     Dtype
---  ------                     -----
 0   id                         int64
 1   date_time                  object
 2   site_name                  int64
 3   posa_continent             int64
 4   user_location_country      int64
 5   user_location_region       int64
 6   user_location_city         int64
 7   orig_destination_distance  float64
 8   user_id                    int64
 9   is_mobile                  int64
 10  is_package                 int64
 11  channel                    int64
 12  srch_ci                    object
 13  srch_co                    object
 14  srch_adults_cnt            int64
 15  srch_children_cnt          int64
 16  srch_rm_cnt                int64
 17  srch_destination_id        int64
 18  srch_destination_type_id   int64
 19  hotel_continent            int64
 20  hotel_country              int64
 21  hotel_market               int64
dtypes: float64(1), int64(18), object(3)
memory usage: 424.4+ MB

In [ ]:
#Train-Test Split

In [20]:
msk = np.random.rand(len(df_2013)) <0.8

In [21]:
train = df_2013[msk]

In [22]:
test = df_2013[~msk]